@inherits LayoutComponentBase

<div class="top-bar">
    <a href="">Ripple.Net</a>
</div>

<div class="content">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        @Body
    </div>
</div>