@inherits LayoutComponentBase

<nav class="navbar">
    <div class="container">
        <div class="row">
            <a class="navbar-brand" href="">Ripple.Net</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-auto left-menu">
            <NavMenu />
        </div>
        <div class="col content">
            @Body
        </div>
    </div>
</div>