<ul class="nav flex-column">
    <li class="nav-item">
        <NavLink class="nav-link active" href="ledgers">Ledgers</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="ledgers">Transactions</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="ledgers">Accounts</NavLink>
    </li>
</ul>